{% load static %}
{% load base_tags %}
<!DOCTYPE html>
<html lang="en">
{% block main %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>myblog {% block title %}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'blog/css/shop-homepage.css' %}" rel="stylesheet">
   <link href="{% static 'blog/css/rtl.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
     <a class="navbar-brand" href="{% url 'blog:home' %}"> {%title%} </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
{#          <li class="nav-item active">#}
{#            <a class="nav-link" href="{% url 'blog:home' %}">home#}
{#              <span class="sr-only">(current)</span>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#">About</a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#">Services</a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#">Contact</a>#}
{#          </li>#}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">فروشگاه</h1>
        <div class="list-group">
         {% for prouduct in prouducts %}
             {% for cat in prouduct.category.active %}
                    <a class="list-group-item" href="{% url 'blog:category' cat.slug %}">{{cat.title}}</a>
             {% endfor %}
        {% endfor %}
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img  class="d-block img-fluid" src="http://placehold.it/900x350" alt="First slide">
            </div>
             <div class="carousel-item ">
              <img  class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
            </div>
             <div class="carousel-item ">
              <img  class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
            </div>
{#              {% for prouduct in prouducts %}#}
{#            <div class="carousel-item">#}
{#              <img  class="d-block img-fluid img-size" src="{{prouduct.thumbnail.url}}" alt="Second slide">#}
{#            </div>#}
{#              {% endfor %}#}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row">
        {% for prouduct in prouducts %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img width=100 height=180 class="card-img-top"  src="{{prouduct.thumbnail.url}}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{% url 'blog:detail' prouduct.slug %}">{{prouduct.name}}</a>
                </h4>
                <h5>{{prouduct.price}} تومان</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
        {%  endfor  %}
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'blog/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'blog/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
{% endblock %}